<h1>Welcome to Dashboard</h1>

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="LibraryModels" asp-action="Index">LibraryModels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="CustomerModels" asp-action="Index">CustomerModels</a>
    </li>
</ul>