@model string // Fotoğraf yolunu string olarak bekleniyor

<!DOCTYPE html>
<html>
<head>
    <title>Photo Viewer</title>
</head>
<body>
    <img src="@Model" alt="Photo" width="500px" height="500px" />
</body>
</html>